.main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(151, 111, 111, 0.1);
  
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .textMain {
    flex: 1;
    max-width: 50%;
  }
  
  .imgMain {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .witchaphon {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about {
    font-size: 2.5em;
    color: #e66666;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .intro {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 15px;
  }
  
  .description {
    font-size: 1em;
    color: #666;
  }